.body {
    font-family: Encode Sans Semi Expanded;
    background-color: aliceblue;
}

.mainContainer{
    padding: 20px 10px 10px 10px;
    text-align: center;
}

.searchContainer{
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: whitesmoke;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchButton {
    padding: 10px 20px 10px 20px;
    background-color: #232323;
    color: white;
    border-style: none;
    font-family: Encode Sans Semi Expanded;
    font-size: 16px;
}

#ResultsContainer {
    
}
#ResultsTable {
    border:1px solid
}
